# Services
/temporal_service/package-lock.json
/temporal_service/node_modules
/config_service/package-lock.json
/config_service/node_modules
/connections_service/package-lock.json
/connections_service/node_modules

# Volumes
/mongo-volume-1
/mongo-volume-2

#Dev files 
/dev/cache.txt

#Credentials and Secrets :)
connections_service/google_sheets_service_account_credentials.json

#Credentials
cost_opt_service/cred.json
